/* GENERAL */

img{
  height: 250px;
}

/* PERSONAL */

.jt-container{
  width: 60%;
  margin: 0 auto;
}

.jt-form .form-control{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.jt-line{
  background-color: white;
  height: 5px;
  width: 10%;
}

.jt-line.black{
  background-color: black;
}

.jt-btn{
  background-color: #1ABC9C;
  color: white;
}

/* SITE SECTIONS */

/* Header */

header{
  /* height: 90px; */
  background-color:#2C3E50;
}

header .navbar ul li a, header .navbar .navbar-brand {
  color: white;
}

/* Jumbotron - About*/

.jumbotron, #about{
  /* height: 490px; */
  background-color: #1ABC9C;
}

/* Portfolio */

#portfolio img:hover{
  filter: brightness(50%);
  cursor: pointer;

}

/* Footer */

footer{
  color: white;;
}

.footer-top{
  background-color: #3A546D;
}

.footer-top h5{
  text-transform: uppercase;
}

.footer-top span{
  color: #1ABC9C
}

.footer-bottom{
  background-color: #2C3E50;
}