/* [class^="container"],[class^="col"]{
  background-color:rgba(56, 114, 114, 0.5);
  border: 1px solid black;
  margin-bottom: 20px;
  min-height: 50px;
} */

.jt-container{
  width: 60%;
  margin: 0 auto;
}

/* body{
  color: white;
} */

img{
  height: 250px;
}

header{
  /* height: 90px; */
  background-color:#2C3E50;
}

header.navbar{
  color: white;
}

.jumbotron{
  /* height: 490px; */
  background-color: #1ABC9C;
}

.form{
  height: 490px;
}

.jt-line{
  background-color: white;
  height: 5px;
  width: 10%;
}